body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F4F4F5;
}

a {
  color: #00B7FF;
}

h1{
  width: 100%;
  text-align: center;
  color: #C6921E;
}

#dragandrophandler{
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 80px;
  height: 400px;
  text-align: center;
  line-height: 400px;
  font-size: 21px;
  color: gray;
  background-color: #EAEAEA;
  border: none;
  user-select: none;
  transition: background-color 1s;
  cursor: pointer;
  position: absolute;
  left: 0px;
  right: 0px;
}

.img-container{
  width: 100%;
  max-width: 700px;
  display: block;
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
}

#dragandrophandler font{
  color: #C6921E;
}

#dragandrophandler.over{
  background-color: #BFBFBF;
}

.before-upload{
  margin: auto;
  margin-top: 80px;
  max-width: 800px;
  max-height: 400px;
  display: none;
}

.before-mosiac{
  margin: auto;
  display: none;
}

.next-btn{
  width: 150px;
  height: 37px;
  background-color: #C6921E;
  border: 1px solid #C6921E;
  outline: none;
  border: none;
  color: white;
  display: none;
  margin-left: calc( 50% - 75px );
  margin-top: 600px;
  cursor: pointer;
}
.upload-btn{
  width: 150px;
  height: 37px;
  background-color: #C6921E;
  border: 1px solid #C6921E;
  outline: none;
  border: none;
  color: white;
  display: none;
  margin-left: calc(50% - 75px);
  margin-top: 50px;
  cursor: pointer;
}
.upload-btn:hover{
  background-color: transparent;
  border: 1px solid #C6921E;
  color: #C6921E;
}
.next-btn:hover{
  background-color: transparent;
  border: 1px solid #C6921E;
  color: #C6921E;
}
.refresh{
  width: 150px;
  height: 37px;
  background-color: #C6921E;
  border: 1px solid #C6921E;
  outline: none;
  border: none;
  color: white;
  display: none;
  margin-left: calc(50% - 75px);
  margin-top: 50px;
  cursor: pointer;
}
.refresh:hover{
  background-color: transparent;
  border: 1px solid #C6921E;
  color: #C6921E;
}
h5{
  display: none;
  font-size: 21px;
  width: 100%;
  text-align: center;
}
